/* src/App.css */
.app {
	display: flex;
}

.sidebar {
	width: 250px;
	height: 100vh;
	color: #fff;
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
}

.main-content {
	margin-left: 250px;
	width: 100%;
	padding: 20px;
}
